body
{
    background-color: whitesmoke;
    font-family: Helvetica, Arial, sans-serif;
    color: dimgray;
    min-height: 100vh;
    display:flex;
    flex-direction:column;
    margin:0;
}

header
{
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

section
{
    margin:auto;
}

#score
{
    _color: #e9db20;
    font-weight: bold;
}

#game
{
    display:block;
    background-color: white;
    border:1px solid #4fc9a0;
    margin:auto;
    padding:0;
}

footer
{
    padding:10px;
    background-color:dimgray;
    color: whitesmoke;
    font-size: 0.8em;
    display:flex;
    flex-direction:row;
    justify-content: space-between; 
    align-items:flex-end;
}

img
{
    height:50px;
}